POSTGRES_DB={{ postgres_db | default('aitrainer') }}
POSTGRES_USER={{ postgres_user | default('aitrainer') }}
POSTGRES_PASSWORD={{ postgres_password }}

JWT_SECRET={{ jwt_secret }}
JWT_ALGORITHM={{ jwt_algorithm | default('HS256') }}
JWT_EXPIRE_MINUTES={{ jwt_expire_minutes | default('10080') }}

FRONTEND_URL={{ frontend_url | default('http://' ~ server_url ~ ':5173') }}
BACKEND_URL={{ backend_url | default('http://' ~ server_url ~ ':8000') }}
VITE_BACKEND_URL={{ vite_backend_url | default('http://' ~ server_url ~ ':8000') }}

STRAVA_CLIENT_ID={{ strava_client_id | default('') }}
STRAVA_CLIENT_SECRET={{ strava_client_secret | default('') }}
OPENAI_API_KEY={{ openai_api_key | default('') }}
GEMINI_API_KEY={{ gemini_api_key | default('') }}
