POSTGRES_DB={{ postgres_db | default('aitrainer') }}
POSTGRES_USER={{ postgres_user | default('aitrainer') }}
POSTGRES_PASSWORD={{ postgres_password }}

JWT_SECRET={{ jwt_secret }}
JWT_ALGORITHM={{ jwt_algorithm | default('HS256') }}
JWT_EXPIRE_MINUTES={{ jwt_expire_minutes | default('10080') }}
AUTHELIA_AUTH_ENABLED={{ authelia_auth_enabled | default('true') }}
AUTHELIA_REMOTE_USER_HEADER={{ authelia_remote_user_header | default('Remote-User') }}
AUTHELIA_REMOTE_EMAIL_HEADER={{ authelia_remote_email_header | default('Remote-Email') }}
AUTHELIA_REMOTE_NAME_HEADER={{ authelia_remote_name_header | default('Remote-Name') }}
AUTHELIA_PROXY_SHARED_SECRET={{ authelia_proxy_shared_secret | default('') }}
AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET={{ authelia_identity_validation_reset_password_jwt_secret | default('') }}
AUTHELIA_SESSION_SECRET={{ authelia_session_secret | default('') }}
AUTHELIA_STORAGE_ENCRYPTION_KEY={{ authelia_storage_encryption_key | default('') }}
AUTHELIA_NOTIFIER_SMTP_ADDRESS={{ authelia_notifier_smtp_address | default('') }}
AUTHELIA_NOTIFIER_SMTP_USERNAME={{ authelia_notifier_smtp_username | default('') }}
AUTHELIA_NOTIFIER_SMTP_PASSWORD={{ authelia_notifier_smtp_password | default('') }}
AUTHELIA_NOTIFIER_SMTP_SENDER={{ authelia_notifier_smtp_sender | default('') }}
AUTHELIA_NOTIFIER_SMTP_IDENTIFIER={{ authelia_notifier_smtp_identifier | default(server_url) }}
AUTHELIA_NOTIFIER_SMTP_STARTUP_CHECK_ADDRESS={{ authelia_notifier_smtp_startup_check_address | default(acme_email | default('admin@' ~ server_url)) }}

FRONTEND_URL={{ frontend_url | default('https://' ~ server_url ~ ',https://www.' ~ server_url ~ ',https://' ~ server_url_2 ~ ',https://www.' ~ server_url_2 ~ ',http://' ~ server_ip) }}
SERVER_URL={{ server_url }}
BACKEND_URL={{ backend_url | default('https://' ~ server_url) }}
VITE_BACKEND_URL={{ vite_backend_url | default('https://' ~ server_url) }}
VITE_AUTHELIA_URL={{ vite_authelia_url | default('https://auth.' ~ server_url) }}
ACME_EMAIL={{ acme_email | default('admin@' ~ server_url) }}

TRAEFIK_DASHBOARD_AUTH={{ admin_pass_hash }}

ADMIN_PASSWORD={{ admin_password | default('') }}

STRAVA_CLIENT_ID={{ strava_client_id | default('') }}
STRAVA_CLIENT_SECRET={{ strava_client_secret | default('') }}
OPENAI_API_KEY={{ openai_api_key | default('') }}
GEMINI_API_KEY={{ gemini_api_key | default('') }}
